.image-container {
  position: relative;
}

.white-backdrop {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(2px);
  background: rgba(255, 255, 255, 0.2);
}
