.page-helpful {
  display: flex;
  flex-flow: row;
  background: var(--page-helpful-background);
  border-radius: 8px;
  border: 1px solid var( --ifm-color-primary);
  justify-content: space-between;
  align-items: center;
  padding: 25px 30px;
  margin-bottom: 80px;
  margin-top: 50px;
}

.page-helpful-item.title {
  color: var( --ifm-color-primary);
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
}

.page-helpful-button {
  display: inline-flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: 1px solid var(--ifm-color-primary);
  color: var(--ifm-color-primary);
  border-radius: 8px;
  padding: 4px 16px;
  font-size: 16px;
  line-height: 1;
  vertical-align: top;
  margin-right: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.page-helpful-button:hover {
  border-color: var(--ifm-color-secondary);
}

.page-helpful-button svg, .page-helpful-button path {
  fill: var(--ifm-color-primary);
}

.page-helpful-button[disabled] {
  cursor: not-allowed;
  color: var(--ifm-gray-200);
  border: 1px solid var(--ifm-gray-200);
  opacity: 0.7;
}

.page-helpful-button[disabled] svg, .page-helpful-button[disabled] path {
  fill: var(--ifm-gray-200);
}

.page-helpful-button:last-of-type {
  margin-right: 0;
}

.page-helpful-button svg {
  margin-right: 3px;
  vertical-align: middle;
}

@media (max-width: 580px) {
  .page-helpful {
    flex-flow: column;
    align-items: start;
  }
  .page-helpful-item.title {
    margin-bottom: 20px;
  }
}
