.page-helpful {
  display: flex;
  flex-flow: row;
  background: var(--page-helpful-background);
  border-radius: 8px;
  justify-content: space-between;
  align-items: center;
  padding: 25px 30px;
  margin-bottom: 80px;
}

.page-helpful-item.title {
  color: white;
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
}

.page-helpful-button {
  display: inline-flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.28);
  color: white;
  border-radius: 8px;
  padding: 4px 16px;
  font-size: 16px;
  line-height: 1;
  vertical-align: top;
  margin-right: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.page-helpful-button:hover {
  border-color: rgba(255, 255, 255, 0.5)
}

.page-helpful-button[disabled] {
  border-color: rgba(255, 255, 255, 0.28);
  cursor: default;
  opacity: 0.7;
}

.page-helpful-button:last-of-type {
  margin-right: 0;
}

.page-helpful-button svg {
  margin-right: 3px;
  vertical-align: middle;
}

@media (max-width: 580px) {
  .page-helpful {
    flex-flow: column;
    align-items: start;
  }
  .page-helpful-item.title {
    margin-bottom: 20px;
  }
}
