h3 {
  margin-bottom: 32px;
}

.list-wrapper {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  padding: 40px 0 0;
  margin-bottom: 30px;
}

.quick-start-item {
  display: flex;
  flex-flow: row;
  margin-bottom: 24px;
}

.quick-start-icon {
  width: 40px;
}

.quick-start-icon img {
  max-width: 60px;
  max-height: 60px;
}

.quick-start-content {
  margin-left: 16px;
}

.quick-start-title {
  font-size: 15px;
  line-height: 20px;
  color: var(--docsearch-text-color);
}

.quick-start-description {
  font-size: 13px;
  line-height: 20px;
  color: var(--ifm-menu-color);
}
