.tooltip-container {
  max-width: 370px;
  pointer-events: auto !important;
  opacity: 1 !important;
  border-radius: 10px !important;
  background: rgba(255, 255, 255, 0.5) !important;
  border: 1px solid #929292 !important;
  backdrop-filter: blur(11px) !important;
}

.tooltip-container:after {
  background: rgba(255, 255, 255, 0.5) !important;
  border: 1px solid #929292 !important;
}

.tooltip-container span, .tooltip-container p {
  color: #000000 !important;
}

[data-theme='dark'] .tooltip-container{
  pointer-events: auto !important;
  border: 1px solid #929292 !important;
  background: rgba(91, 89, 89, 0.22) !important;
}

[data-theme='dark'] .tooltip-container:after {
  background: rgba(91, 89, 89, 0.22) !important;
  backdrop-filter: blur(11px) !important;
  border: 1px solid #929292 !important;
}

[data-theme='dark'] .tooltip-container span,
[data-theme='dark'] .tooltip-container p {
  color: #fff !important;
}

.tooltip-container:before {
  display: none !important;
}


.tooltip-container:hover {
   visibility: visible !important;
 }

.link {
  text-decoration: underline;
}

.link-image {
  width: 12px;
  height: 12px;
  stroke: #DF42AB;
}

[data-theme='dark'] .image-container path {
  fill: #ffffff;
}

.image {
  z-index: 9;
  position: relative;
}

.list {
  padding-left: 21px !important;
}
