.hoverable {
  filter: brightness(2);
}

.tooltip-container {
  max-width: 370px;
  pointer-events: auto !important;
  background: rgba(91, 89, 89, 0.22) !important;
  opacity: 1 !important;
  border: 1px solid #929292 !important;
  backdrop-filter: blur(11px) !important;
  border-radius: 10px !important;
}

.tooltip-container:after {
  background: rgba(91, 89, 89, 0.22) !important;
  backdrop-filter: blur(11px) !important;
}


.tooltip-container:hover {
   visibility: visible !important;
 }

.link {
  text-decoration: underline;
}
