.scalable {
  cursor: pointer;
  transform-box: fill-box;
  transform-origin: center;
}

.scalable:hover {
  animation: circle .3s linear forwards;
}

@keyframes circle {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.025);
  }
}

.tooltip-container {
  max-width: 370px;
  opacity: 1 !important;
  border-radius: 10px !important;
  background: rgba(255, 255, 255, 0.5) !important;
  border: 1px solid #929292 !important;
  backdrop-filter: blur(11px) !important;
  pointer-events: auto !important;
  z-index: 99999;
  padding: 12px;
  color: #000000;
}

.tooltip-container.hidden {
  visibility: hidden;
}

.tooltip-container p {
  font-size: 14px;
  line-height: 18px;
}

.tooltip-container p:last-of-type {
  margin-bottom: 0;
}

.tooltip-close {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -16px;
  left: -16px;
  border: 1px solid #929292;
  border-radius: 15px;
  background: white;
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.tooltip-close svg {
  display: inline-block;
  line-height: 1;
}

.tooltip-container:after, .tooltip-container:before {
  display: none !important;
}

.link {
  text-decoration: underline;
}

.link-image {
  width: 12px;
  height: 12px;
  stroke: #FF86FF;
}

.image {
  z-index: 9;
  position: relative;
}

.list {
  font-size: 14px;
  line-height: 18px;
  padding-left: 15px !important;
}

.list:last-of-type {
  margin-bottom: 0;
}

.styles-module_arrow__K0L3T {
  display: none;
}

[data-theme='dark'] .tooltip-close {
  background: #04020B;
}

[data-theme='dark'] .tooltip-close circle {
  fill: #000 !important;
}

[data-theme='dark'] .tooltip-container {
  border: 1px solid #929292 !important;
  background: rgba(91, 89, 89, 0.22) !important;
}

[data-theme='dark'] .tooltip-container span,
[data-theme='dark'] .tooltip-container p {
  color: #fff !important;
}

[data-theme='dark'] svg path.title {
  fill: white!important;
}
