/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
@import url("https://fonts.googleapis.com/css2?family=Roboto");

body {
  font-family: "Roboto", system-ui, -apple-system, Segoe UI, Roboto,
  Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, "Segoe UI",
  Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol";
}
:root {
  --ifm-color-primary-dark: #409088;
  --ifm-color-primary-darker: #387462;
  --ifm-color-primary-darkest: #1b4e3f;
  --ifm-color-primary-light: #42ba96;
  --ifm-color-primary-lighter: #86b8b6;
  --ifm-color-primary-lightest: #abd5c6;
  --ifm-blockquote-border-color: #CE3A8B;
  --ifm-blockquote-bg: rgba(206,58,139, 0.2);
  --ifm-code-font-size: 95%;
  --ifm-link-color: #CE3A8B;
  --ifm-neon-pink: #CE3A8B;
  
  --ifm-color-primary: #CE3A8B;
  --ifm-link-hover-color: #CE3A8B;
  --ifm-navbar-link-hover-color: #CE3A8B;
  --ifm-menu-color-active: #CE3A8B;
  --ifm-blockquote-padding-vertical: 1rem;
  --ifm-blockquote-padding-horizontal: 1.2rem;
  --ifm-blockquote-border-left-width: 6px;

  --ifm-navbar-padding-horizontal: var(--ifm-spacing-horizontal);
  --ifm-navbar-padding-vertical: calc(var(--ifm-spacing-vertical)*0.5);

  --ifm-menu-color: var(--ifm-color-emphasis-700);
  --ifm-menu-color-background-active: var(--ifm-hover-overlay);
  --ifm-menu-color-background-hover: var(--ifm-hover-overlay);
  --ifm-menu-link-padding-horizontal: 1rem;
  --ifm-menu-link-padding-vertical: 0.375rem;

  --ifm-font-family-base: "Roboto", system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

.main-wrapper {background-color: var();
  display: flex;
}

a:hover {
  text-decoration: none;
  color: var(--ifm-link-hover-color);
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

/* Framed image; width 300px */
.neon-img-box-300 img {
    width: 300px;
    border: 2px solid var(--ifm-neon-pink);
}

/* Image without frame; width 300px */
.neon-img-width-300 img {
    width: 300px;
}

/* Framed image; width 600px */
.neon-img-box-600 img {
    width: 600px;
    border: 2px solid var(--ifm-neon-pink);
}

/* Image without frame; width 600px */
.neon-img-width-600 img {
    width: 600px;
}

html[data-theme='dark'] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}

.markdown blockquote {
  background-color: var(--ifm-blockquote-bg);
}

.menu__link {
  padding: var(--ifm-menu-link-padding-vertical) calc(var(--ifm-menu-link-padding-horizontal) + 1.25rem)
    var(--ifm-menu-link-padding-vertical) var(--ifm-menu-link-padding-horizontal);
}

.menu__link--sublist-caret:after {
  right: 20px;
  position: absolute;
}
