name: Update Prod
on:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [16]
    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - name: Use Node ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install modules
        run: |
          yarn install
      - name: Build
        run: |
          yarn clear
          yarn build
      - name: Deploy to s3
        uses: jakejarvis/s3-sync-action@master
        with:
          args: --delete
        env:
          AWS_S3_BUCKET: ${{vars.DOCS_PROD_S3_BUCKET}}
          AWS_ACCESS_KEY_ID: ${{secrets.DOCS_PROD_AWS_ACCESS_KEY_ID}}
          AWS_SECRET_ACCESS_KEY: ${{secrets.DOCS_PROD_AWS_SECRET_ACCESS_KEY}}
          AWS_REGION: ${{vars.DOCS_PROD_S3_REGION}}
          SOURCE_DIR: "build"
